* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	color: #afafaf; /* Light gray*/
	background-color: #1d1d1d;
	font-size: 18px;
	text-align: center;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
h1 {
	font-size: 2em;
	padding: 1em 0.5em;
	background-color: #333333;
	border: 1px solid #afafaf;
}
h2 {
	font-size: 1.5em;
}
ul {
	padding: 0 2em 0 2em;
	text-align: left;
	list-style-type: square;
}
ol {
	padding: 0 2em 0 2em;
	text-align: left;
	list-style-type: decimal;
}
a {
	text-decoration: none;
}
p {
	text-align: left;
	padding: 20px 0 20px 10px;
	margin-bottom: 20px;
}
.page {
	width: 600px;
	margin: 00 auto;
}
.synopsis {
	text-align: center;
	color: #7e8184;
	font-style: italic;
	padding: 0.5em;
	border: 1px solid;
}
.synopsis em {
	font-style: normal;
}
.hookup {
	font-style: italic;
	background-color: #03a5c2;
}

a:link {
	color: blue;
	text-decoration: none;
}
a:visited {
	color: purple;
}
a:hover {
	color: aqua;
	text-decoration: underline;
	font-size: 1.2em;
}
a:active {
	color: red;
}
a:visited:hover {
	color: orange;
}
a:visited:active {
	color: red;
}

.button :link,
.button :visited {
	display: block;
	text-decoration: none;

	color: #fff;
	background-color: #5995da;
	font-weight: bold;
	padding: 20px;
	text-align: center;
	border: 2px solid #5d6063;
	border-radius: 5px;

	width: 400px;
	margin: 20px auto;
}
.button :hover,
.button :visited :hover {
	color: #fff;
	background-color: #5995da;
}
.button:active,
.button:visited:active {
	color: #fff;
	background-color: #5995da; /* Blue */
}
