* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	color: #f0eded; /* Light gray*/
	background-color: #1d1d1d;
	font-size: 16px;
	text-align: left;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.top-header {
	position: fixed;
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding: 50px;
	background-color: rgb(63, 76, 247);
	font-size: 1.6em;
}
.page {
	display: flex;
	justify-content: center;
}
.menu {
	margin-top: 15px;
}
.menu > li {
	display: inline;
	margin-right: 50px;
}
.menu > li:last-of-type {
	margin-right: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
a {
	color: #f0eded;
	text-decoration: none;
}
.logo-text {
	display: flex;
	line-height: 1.8em;
}

@media only screen and (max-width: 960px) {
}

@media only screen and (min-width: 961px) {
}
