* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	color: #f0eded; /* Light gray*/
	background-color: #1d1d1d;
	font-size: 16px;
	text-align: left;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.top-header {
	position: fixed;
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding: 40px;
	height: 175px;
	background-color: rgb(63, 76, 247);
}
.page {
	display: flex;
	justify-content: center;
}
.menu {
	display: flex;
	font-size: 1.4em;
	margin-top: 30px;
}
.menu > li {
	display: inline;
	margin-right: 50px;
}
.menu > li:last-of-type {
	margin-right: 0;
}
.logo-text {
	font-size: 1.6em;
	display: flex;
	line-height: 1.8em;
}
.dropdown {
	position: relative;
}
.dropdown > span {
	z-index: 2;
	position: relative;
	cursor: pointer;
}
.dropdown-menu {
	display: none;
}

.dropdown:hover .dropdown-menu {
	display: flex;
	flex-direction: column;
	background: #85b5ec;
	border-radius: 5px;
	padding-top: 60px;
	z-index: 1;

	position: absolute;
	top: -15px;
	left: -30px;
}

.dropdown-menu li {
	list-style: none;
	border-bottom: 1px solid #fff;

	padding: 0 30px 20px 20px;
	margin: 10px;
}

.dropdown-menu li:last-of-type {
	border-bottom: none;
}

.first-article {
	background-color: #85b5ec;
	padding: 20px;
	border-radius: 10px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
a {
	color: #f0eded;
	text-decoration: none;
}

@media only screen and (max-width: 960px) {
}

@media only screen and (min-width: 961px) {
}
